body{
	background-image: url("blurred.jpg");
	background-size: 100% auto;
}

.simon {
	font-size: 15em;
/*	border: 1px solid black;
*/	position: fixed;
	margin-left: 300px;	


}
h1{
	color: black;
	margin: 0 auto;
	text-align: center;
/*	letter-spacing: 2px;
*/	font-family: 'Press Start 2P', cursive;
	text-shadow: 0 1px 0 #000;
}
h2 {
/*	border: 1px solid black;
*/	position: fixed;
	font-family: 'Press Start 2P', cursive;
	margin-left: 28em;
}
h3 {
/*	border: 1px solid black;
*/	position: fixed;
	font-family: 'Press Start 2P', cursive;
	margin-left: 12em;
	margin-top: 25px;

}

#red{
	color: rgb(255,0,0);
	opacity: 0.5;
/*	position: absolute;
	top: 49%;
	left: 34%;*/
}
#blue{
	color: blue;
	opacity: 0.5;
	
}	
#yellow{
	color: yellow;
	opacity: 0.5;
/*	position: absolute;
	top: 50%;
	left: 56%;*/
}
#green{
	color: green;
	opacity: 0.5;
/*	position: absolute;
	top: 49%;
	left: 45%;	*/
}
#red:hover{
	opacity: 1;
}
#blue:hover{
	opacity: 1;
}
#yellow:hover{
	opacity: 1;
}
#green:hover{
	opacity: 1;
}
.highlight {
	opacity: 1;
}
.top {
	margin: 0 auto;
	padding-left: 260px;
/*	border: 1px solid black;
*/}

.bottom {
	position: relative;
	margin: 0 auto;
	padding-top: 50px;
	padding-right: 50px;
	display: inline-block;
	/*border: 1px solid black;*/
}

#start{
	position: inline-block;
	right: 10em;
	top:10em;
	font-size: 5em;
	opacity: 0.5;
/*	border: 1px solid black;
*/	margin-left: 1em;

}
#start:hover{
	opacity: 1;
}
#reload {
	position: inline-block;
	right: 10em;
	top:10em;
	font-size: 5em;
	opacity: 0.5;
/*	border: 1px solid black;
*/	margin-left: 14em;

}
#reload:hover{
	opacity: 1;
}
p.gameover{
	position: fixed;
	font-family: 'Press Start 2P', cursive;
	font-size: 5em;
	margin-left: 4em;
	margin-top: 3em;

}
p.newgame{
	position: fixed;
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	margin-left: 61em;
	margin-top: 0em;

}

